In [21]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules

In [3]:
# Load the dataset
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx'
df = pd.read_excel(url)

In [5]:
df = df.dropna()

In [10]:
df = df[df['Country'] == 'USA']

In [ ]:
df

In [17]:
basket = (df.groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

In [19]:
def encode_units(x):
    return 1 if x >= 1 else 0

basket = basket.applymap(encode_units)

C:\Users\sham2008\AppData\Local\Temp\1\ipykernel_2144\2229452116.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  basket = basket.applymap(encode_units)

In [20]:
basket

Description,SET 2 TEA TOWELS I LOVE LONDON,12 PENCILS SMALL TUBE RED RETROSPOT,3 RAFFIA RIBBONS 50'S CHRISTMAS,3 TRADITIONAl BISCUIT CUTTERS SET,36 DOILIES DOLLY GIRL,6 GIFT TAGS 50'S CHRISTMAS,6 GIFT TAGS VINTAGE CHRISTMAS,60 CAKE CASES DOLLY GIRL DESIGN,60 TEATIME FAIRY CAKE CASES,BAKING SET 9 PIECE RETROSPOT,...,TEA TIME TEAPOT IN GIFT BOX,TRADITIONAL WOODEN SKIPPING ROPE,VINTAGE CHRISTMAS STOCKING,VINTAGE DONKEY TAIL GAME,VINTAGE KID DOLLY CARD,VINTAGE RED TEATIME MUG,WRAP CHRISTMAS VILLAGE,WRAP COWBOYS,WRAP DOLLY GIRL,WRAP ENGLISH ROSE
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
550644,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
570467,0,0,1,0,1,1,1,1,1,1,...,0,1,1,1,0,0,1,1,1,1
572215,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
580158,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
580553,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C570867,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C581229,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
frequent_itemsets = apriori(basket, min_support=0.25, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0    0.285714                                 (CARD DOLLY GIRL )
1    0.285714                   (EMBROIDERED RIBBON REEL SUSIE )
2    0.285714                      (PINK HAPPY BIRTHDAY BUNTING)
3    0.285714                         (REGENCY CAKESTAND 3 TIER)
4    0.285714                   (SET 12 COLOURING PENCILS DOILY)
..        ...                                                ...
144  0.285714  (SET/10 RED POLKADOT PARTY CANDLES, SET OF 12 ...
145  0.285714  (SET/10 RED POLKADOT PARTY CANDLES, SET OF 12 ...
146  0.285714  (SET/10 RED POLKADOT PARTY CANDLES, SET/10 BLU...
147  0.285714  (SET/10 RED POLKADOT PARTY CANDLES, SET OF 12 ...
148  0.285714  (SET/10 RED POLKADOT PARTY CANDLES, SET OF 12 ...

[149 rows x 2 columns]

In [29]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(CARD DOLLY GIRL ),(TEA PARTY BIRTHDAY CARD),0.285714,0.285714,0.285714,1.0,3.5,0.204082,inf,1.0
1,(TEA PARTY BIRTHDAY CARD),(CARD DOLLY GIRL ),0.285714,0.285714,0.285714,1.0,3.5,0.204082,inf,1.0
2,(SET OF 12 FAIRY CAKE BAKING CASES),(EMBROIDERED RIBBON REEL SUSIE ),0.285714,0.285714,0.285714,1.0,3.5,0.204082,inf,1.0
3,(EMBROIDERED RIBBON REEL SUSIE ),(SET OF 12 FAIRY CAKE BAKING CASES),0.285714,0.285714,0.285714,1.0,3.5,0.204082,inf,1.0
4,(EMBROIDERED RIBBON REEL SUSIE ),(SET OF 6 RIBBONS VINTAGE CHRISTMAS),0.285714,0.285714,0.285714,1.0,3.5,0.204082,inf,1.0
...,...,...,...,...,...,...,...,...,...,...
1981,(SET/10 BLUE POLKADOT PARTY CANDLES),"(SET/10 RED POLKADOT PARTY CANDLES, SET OF 12 ...",0.285714,0.285714,0.285714,1.0,3.5,0.204082,inf,1.0
1982,(EMBROIDERED RIBBON REEL SUSIE ),"(SET/10 RED POLKADOT PARTY CANDLES, SET OF 12 ...",0.285714,0.285714,0.285714,1.0,3.5,0.204082,inf,1.0
1983,(SET/10 IVORY POLKADOT PARTY CANDLES),"(SET/10 RED POLKADOT PARTY CANDLES, SET OF 12 ...",0.285714,0.285714,0.285714,1.0,3.5,0.204082,inf,1.0
1984,(SET OF 6 RIBBONS VINTAGE CHRISTMAS),"(SET/10 RED POLKADOT PARTY CANDLES, SET OF 12 ...",0.285714,0.285714,0.285714,1.0,3.5,0.204082,inf,1.0
1985,(SET/10 PINK POLKADOT PARTY CANDLES),"(SET/10 RED POLKADOT PARTY CANDLES, SET OF 12 ...",0.285714,0.285714,0.285714,1.0,3.5,0.204082,inf,1.0

In [25]:
frequent_itemsets

Empty DataFrame
Columns: [support, itemsets]
Index: []